body {
    margin: 0;
}

/* grid */
.main{
    display: flex;
    justify-content: center;
    background-image: url(../img/background.png);
    background-size: cover;
}

.display__top {
    height: 2rem;
    background-color:yellow;
    border-top: 3px solid black;
}

.display {
    height: 7rem;
    width:20rem;
    border:3px solid black;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(224, 224, 224);
    color:red;
    text-transform: uppercase;
    padding: 1rem;
}

.relleno {
    background-color:yellow;
    height: 36.5rem;
    border-bottom:3px solid black;
    display: flex;
    justify-content:center;
    align-items:center;

}

.relleno__derecha {
    background-color: yellow;
    height: 47.9rem;
    width:2rem;
    border-right:3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.logo {
    width:16rem;
    height: 16rem;
}

.maquina {
    width: 600px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: yellow;
    padding: 2rem;
    border-left:3px solid black;
    border-top:3px solid black;
    border-bottom:3px solid black;
}

.maquina__borde {
    border: 2px solid black;

}

.maquina > div > img {
    width:4rem;
}

.maquina > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}

.cerveza1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.cerveza2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.cerveza3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.cocacola1 {
    grid-column:1 / 2;
    grid-row: 2 / 3;
}


.cocacola2 {
    grid-column:2 / 3;
    grid-row: 2 / 3;
}


.cocacola3 {
    grid-column:3 / 4;
    grid-row: 2 / 3;
}

.campesinas1 {
    grid-column:1 / 2;
    grid-row: 3 / 4;
}

.campesinas2 {
    grid-column:2 / 3;
    grid-row: 3 / 4;
}

.campesinas3 {
    grid-column:3 / 4;
    grid-row: 3 / 4;
}

.onduladas1 {
    grid-column:1 / 2;
    grid-row: 4 / 5;
}

.onduladas2 {
    grid-column:2 / 3;
    grid-row: 4 / 5;
}

.onduladas3 {
    grid-column:3 / 4;
    grid-row: 4 / 5;
}

.bandeja {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    height: 10rem;
    display: flex;
    justify-content:center;
}

.bandeja > img {
    width:auto !important;
    height: 8rem;
    margin-left:0 !important;
    object-fit: cover;
}


